.aboutTitle {
  font-size: clamp(2rem, 3vw, 2.8rem);
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(88, 166, 255, 0.6);
}

.aboutDescription {
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  color: #c9d1d9;
  max-width: 850px;
  margin: auto;
  line-height: 1.8;
}