.projectsContainer {
  text-align: center;
}

.title {
  font-size: 2.5rem;
  color: var(--primary);
  margin-bottom: 40px;
}

.projectsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.card {
  background: rgba(13, 17, 23, 0.95);
  border-radius: 14px;
  padding: 20px;
  transition: transform var(--transition);
}

.card:hover {
  transform: translateY(-10px);
}

.image,
.video {
  width: 100%;
  border-radius: 12px;
}

.cardTitle {
  font-size: 1.4rem;
  margin-top: 15px;
}

.cardDescription {
  font-size: 1rem;
  color: #8b949e;
  margin-bottom: 15px;
}
